html,
body {
  font-family: 'Slabo 27px', serif;
}

.HomePageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  background: url('../images/resized-env.png') no-repeat center;
  
  }

 .HomeHeaderStyles {
   margin-top: -190px;
   position: fixed;

  }
  
  .userSubHeader {
    margin-top: -20px;
  }

 .CreateUserButton {
    position: fixed;
 }

 .HomeUsersIndex {
    width: 500px;
    height: 180px;
    margin-top: 220px;
    position: fixed;
 }

/*  
 .userPadding {
   padding: 200px;
 }

a {
  color: #003295;
}

.userHeaderH1 {
  text-align: center;
  padding-top: 8rem;
  padding-right: 260px;
}

.userSubHeader {
  text-align: center;
  padding-top: 0rem;
  padding-right: 260px;
}

.CreateUserButton {
  padding-top: 100px;
  padding-left: 240px;
}

.userIndex {
  text-align: center;
  padding-top: 90px;
  padding-right: 260px;
}

.eCardShow {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/resized-post.png');
  background-repeat: no-repeat;
  color: white;
  padding-top: 300px;
  padding-left: 300px;
}

.eCardButton {
  color: black;
} */