html,
body {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-family: 'Slabo 27px', serif;
}

.flexContainerBG {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-image: url('../images/resized-env.png');
}

.flexContainerContent {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex: 1;
}

a {
  color: #003295;
}
