  <div class="container">
    <h3>Printable Cards</h3>
    <br>
    {{#each printcards}}
        <div>
           {{!--  <a href="/printcards/{{this.id}}">{{this.cardName}}</a> --}}
           <h5>COMING IN 2.0</h5>
        </div>
{{!--         <div>
            <input type="submit" value="View Card" onclick="window.location='/printCards/{{this._id}}/';" />
        </div> --}}
        <br>
    {{/each}}
</div>