<form action="/users/{{userId}}/eCards" method="POST">

    <div>
        <label for="cardName">Card Name: </label>
        <input type="text" name="cardName">
    </div>
    <br>
    <div>
        <label for="toPerson">To: </label>
        <input type="text" name="toPerson">
    </div>
    <br>
    <div>
        <label for="fromPerson">From: </label>
        <input type="text" name="fromPerson">
    </div>
    <br>
    <div>
        <label for="message">Message: </label>
        <input type="text" name="message">
    </div>
    <br>
    <input type="submit" value="Create eCard"

</form>