<div>
    <h1>Users Index</h1>

    <div>
        <input type="submit" value="Create New User" onclick="window.location='/users/new';" />
    </div>
    <br>
    <div>
        {{#each users}}
            <div>
                {{this.name}} -- {{this.username}}
                <br>
                <a href="/users/{{this.id}}">{{this.name}}'s Cards</a>
            </div>
            <br>
        {{/each}}
    </div>

</div>